## <b>pandas</b>

Documentation: https://pandas.pydata.org/getting_started.html

A fast, powerful, flexible and easy-to-use open source library for data analysis and manipulation, built on the Python programming language. Essential component are so called *DataFrames*.

<div class="alert alert-block alert-info">
    <i>pandas</i> is built from <i>numpy</i>, many functions are the <b>same or quite similar</b>!
</div>

In [1]:
import pandas as pd
import numpy as np # imports are typically done in the first cell of an notebook

### <b>Manual creation of pandas DataFrames</b>

### From numpy arrays

In [2]:
x = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
x

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [3]:
df = pd.DataFrame(x)
df

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

A DataFrame consists from row- and column indices (from the data type `pd.Index`):

Rows:

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

Columns:

In [5]:
df.columns

RangeIndex(start=0, stop=4, step=1)

`pd.Index` objects can be transformed to lists with `list()`

In [6]:
print(len(df)) # number of rows
print(len(df.columns)) # number of columns
print(df.shape) # as in numpy

3
4
(3, 4)

Access the values of a DataFrame as a numpy array

In [7]:
type(df.values)

numpy.ndarray

In [8]:
list(df.index), list(df.columns)

([0, 1, 2], [0, 1, 2, 3])

<div class="alert alert-block alert-info">
    <b>Note:</b> Indices in <i>pandas</i> (row and columns indices) can be non scalar (names, dates, etc.). Each index has to be unique!
</div>

Define column names when creating a DataFrame

In [9]:
pd.DataFrame(x, columns=['column1', 'column2', 'column3', 'column4'])

   column1  column2  column3  column4
0        1        2        3        4
1        5        6        7        8
2        9       10       11       12

Define column and row names when creating a DataFrame

In [10]:
pd.DataFrame(x, columns=['column1', 'column2', 'column3', 'column4'], index=['subject1', 'subject2', 'subject3'])

          column1  column2  column3  column4
subject1        1        2        3        4
subject2        5        6        7        8
subject3        9       10       11       12

Different row/column indices possible, e.g.:
* `range()`
* `pd.Index()`
* ...

### From dictionaries

Column indices are inferred from the dictionary keys.

In [11]:
data_dict = {'column1': [1, 2, 3, 4], 'column2': [5, 6, 7, 8], 'column3': [9, 10, 11, 12], 'column4': [13, 14, 15, 16]}
data_dict

{'column1': [1, 2, 3, 4],
 'column2': [5, 6, 7, 8],
 'column3': [9, 10, 11, 12],
 'column4': [13, 14, 15, 16]}

In [12]:
df = pd.DataFrame(data_dict, index=['subject{}'.format(i) for i in range(0, 4)])
df

          column1  column2  column3  column4
subject0        1        5        9       13
subject1        2        6       10       14
subject2        3        7       11       15
subject3        4        8       12       16

### <b>Use numpy functions on a pandas DataFrame</b>

In [13]:
np.mean(df)

/Users/abelluc/Code/ads_exercise/.venv/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3462: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

column1     2.5
column2     6.5
column3    10.5
column4    14.5
dtype: float64

In [14]:
np.mean(df, axis=1)

subject0     7.0
subject1     8.0
subject2     9.0
subject3    10.0
dtype: float64

In [15]:
np.transpose(df) # Switch rows and columns
# Alternative: df.T transponses the DataFrame as well
df.T

         subject0  subject1  subject2  subject3
column1         1         2         3         4
column2         5         6         7         8
column3         9        10        11        12
column4        13        14        15        16

### <b>Read and view data</b>

Easy import of `.csv` (comma-separated values) (`pd.read_csv()`) and excel files (`pd.read_excel()`)
Support of many formats (`pd.read_xxx()`), e.g.:
* HDF
* JSON
* **SPSS**
* ...

In [16]:
df = pd.read_csv('data/cortisol_sample.csv') # Better via pathlib: Path("data").joinpath("cortisol_sample.csv")
df

,subject,condition,0,1,2,3,4,5,6
0,1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
2,3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
3,4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
4,5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
5,6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
6,7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
7,8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
8,9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
9,10,Intervention,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415
10,11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
11,15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
12,16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
13,17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
14,18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
15,19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
16,20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
17,21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
18,22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
19,24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
20,25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
21,26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
22,27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
23,28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965
24,30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
25,31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
26,32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
27,33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

In [17]:
df.head()

,subject,condition,0,1,2,3,4,5,6
0,1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
2,3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
3,4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
4,5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870

In [18]:
df.tail()

,subject,condition,0,1,2,3,4,5,6
23,28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965
24,30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
25,31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
26,32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
27,33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

In [19]:
df.head(2)

,subject,condition,0,1,2,3,4,5,6
0,1,Intervention,6.98890,7.0332,5.7767,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.10235,5.6194,5.0254,4.89695,5.45370,5.07690,4.10855

### <b>Indexing and selecting data</b>

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

For indexing and selecting data there are 3 main functions/operators (many more advanced methods exist):
* Indexing of columns with the column name using the `[]` operator
* Indexing of rows/columns with the name using the `loc` function
* Indexing of rows/columns with the position using the `iloc` function

#### `[]` operator

In [20]:
df['subject'].head()

0    1
1    2
2    3
3    4
4    5
Name: subject, dtype: int64

<div class="alert alert-block alert-info">
    A <i>single</i> column in a pandas DataFrame is of type <code>pd.Series</code>.
</div>

In [21]:
type(df['subject'])

pandas.core.series.Series

`Series` objects have the attributes `index` and `name`:

In [22]:
df['subject'].index

RangeIndex(start=0, stop=28, step=1)

In [23]:
df['subject'].name

'subject'

Select multiple columns: List of column names

In [24]:
df[['subject', 'condition']].head()

   subject     condition
0        1  Intervention
1        2  Intervention
2        3       Control
3        4  Intervention
4        5  Intervention

In [25]:
type(df[['subject', 'condition']])

pandas.core.frame.DataFrame

#### `loc` function

How to use: `dataframe.loc[row name,column name]`

In [26]:
df

,subject,condition,0,1,2,3,4,5,6
0,1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
2,3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
3,4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
4,5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
5,6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
6,7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
7,8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
8,9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
9,10,Intervention,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415
10,11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
11,15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
12,16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
13,17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
14,18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
15,19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
16,20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
17,21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
18,22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
19,24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
20,25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
21,26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
22,27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
23,28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965
24,30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
25,31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
26,32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
27,33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

In [27]:
df.loc[4] # row with index 4

subject                 5
condition    Intervention
0                  8.3869
1                 8.13245
2                  6.6414
3                 5.40945
4                 4.99895
5                  4.9354
6                  4.9487
Name: 4, dtype: object

In [28]:
df.loc[:, 'condition'] # all rows, column 'condition' (same as df['condition'])

0     Intervention
1     Intervention
2          Control
3     Intervention
4     Intervention
5          Control
6     Intervention
7          Control
8          Control
9     Intervention
10         Control
11    Intervention
12    Intervention
13         Control
14    Intervention
15         Control
16    Intervention
17         Control
18         Control
19         Control
20    Intervention
21    Intervention
22    Intervention
23    Intervention
24         Control
25         Control
26         Control
27         Control
Name: condition, dtype: object

In [29]:
df.loc[3:6, ['condition', '0']] # rows with index 3 to 6, columns 'condition' and '0' (= first sample)

      condition        0
3  Intervention  3.13210
4  Intervention  8.38690
5       Control  4.61920
6  Intervention  2.47655

#### `iloc` function

How to use: `dataframe.iloc[row index, column index]`

In [30]:
df.iloc[2] # 3rd row

subject             3
condition     Control
0              5.3985
1              13.274
2            10.10115
3               14.23
4             13.9865
5              12.039
6             11.0085
Name: 2, dtype: object

In [31]:
df.iloc[:, 0] # all rows, first column

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    15
12    16
13    17
14    18
15    19
16    20
17    21
18    22
19    24
20    25
21    26
22    27
23    28
24    30
25    31
26    32
27    33
Name: subject, dtype: int64

In [32]:
df.iloc[4:8, 2:5] # rows 4-7, columns 3-5

         0        1        2
4  8.38690  8.13245  6.64140
5  4.61920  6.20725  8.42920
6  2.47655  3.38000  3.72735
7  2.86070  2.49575  3.09960

#### Find specific values

In [33]:
df['subject'] > 30

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25     True
26     True
27     True
Name: subject, dtype: bool

In [34]:
df[df['subject'] > 30]

,subject,condition,0,1,2,3,4,5,6
25,31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
26,32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
27,33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

<div class="alert alert-block alert-info">
    <b>Learning:</b> Indixing similar to numpy arrays, e.g. with bool mask etc. possible!
</div>

### <b>Delete single columns</b>

Delete first sample (column name = 0):

In [35]:
df.drop(['0'], axis=1).head()
# or: df.drop(columns=['0'])

,subject,condition,1,2,3,4,5,6
0,1,Intervention,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
2,3,Control,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
3,4,Intervention,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
4,5,Intervention,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870

### <b>Delete single rows</b>

e.g. row index 15:

In [ ]:
#df.drop(15)

Delete multiple rows

In [ ]:
#df.drop([5, 10, 15])

Delete all subjects from subject ID 30

In [36]:
df.drop(df[df['subject'] >= 30].index)

,subject,condition,0,1,2,3,4,5,6
0,1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
2,3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
3,4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
4,5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
5,6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
6,7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
7,8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
8,9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
9,10,Intervention,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415
10,11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
11,15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
12,16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
13,17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
14,18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
15,19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
16,20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
17,21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
18,22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
19,24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
20,25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
21,26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
22,27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
23,28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965

Or delete subjects from 10 to 30:

In [37]:
df.drop(df[ (df['subject'] >= 10) & (df['subject'] <= 30) ].index)

,subject,condition,0,1,2,3,4,5,6
0,1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
1,2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
2,3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
3,4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
4,5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
5,6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
6,7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
7,8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
8,9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
25,31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
26,32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
27,33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

Or the first and last subjects:

In [38]:
df.drop(df[ (df['subject'] <= 10) | (df['subject'] >= 30) ].index)

,subject,condition,0,1,2,3,4,5,6
10,11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
11,15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
12,16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
13,17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
14,18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
15,19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
16,20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
17,21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
18,22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
19,24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
20,25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
21,26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
22,27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
23,28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965

In [ ]:
df

#### Set index

Setting of a single column as index:

In [39]:
df_index = df.set_index('subject')
df_index.head()

,condition,0,1,2,3,4,5,6
subject,,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870

In [40]:
type(df_index.index)

pandas.core.indexes.numeric.Int64Index

## <b>Advanced indexing</b>

Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

Setting of multiple columns as index => `MultiIndex`:

In [41]:
df_multi_index = df.set_index(['subject', 'condition'])
df_multi_index.head()

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870

In [ ]:
#df_multi_index.index

In [42]:
type(df_multi_index.index)

pandas.core.indexes.multi.MultiIndex

Indexing with `.loc`: Either with top level (leftmost) index or with an index tuple

In [43]:
df_multi_index.loc[2]

                    0       1       2        3       4       5        6
condition
Intervention  5.10235  5.6194  5.0254  4.89695  5.4537  5.0769  4.10855

In [44]:
df_multi_index.loc[(2, 'Intervention')]

0    5.10235
1    5.61940
2    5.02540
3    4.89695
4    5.45370
5    5.07690
6    4.10855
Name: (2, Intervention), dtype: float64

In [45]:
df_multi_index.head()

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870

Indexing of different index levels:

Selecting of a single index label: `.xs()` (cross-section) with specifying the index level

In [46]:
df_multi_index.xs('Control', level='condition')

                0         1         2         3         4         5         6
subject
3         5.39850  13.27400  10.10115  14.23000  13.98650  12.03900  11.00850
6         4.61920   6.20725   8.42920  12.12950  13.44050  15.65350  12.90800
8         2.86070   2.49575   3.09960   5.50625   4.83960   3.92155   3.27280
9         9.14675   6.43065   4.48210   4.91710   5.02670   3.82645   3.96490
11        4.14360   5.92450   6.58610   7.15865   8.11585   6.62015   6.25635
17        5.12210   5.26715   3.43025   2.73700   2.64575   1.98210   1.75805
19        2.04045   1.93235   2.58190   2.54990   2.00480   2.03815   1.68480
21        2.23280   2.16485   4.49550   6.04995   4.92305   4.09130   3.27160
22       21.04050  14.25150   8.06595   7.56705   6.73840   6.75810   6.00565
24        3.79145   4.52945  14.55050  16.88850  18.85500  15.49850  12.54850
30        7.22090   7.28250   5.25300  12.84000  12.54750  11.31650   8.07555
31        1.78120   1.51445   2.08200   2.79640   2.64540   2.15795   1.97095
32        2.04655   2.74355   2.59805   3.14990   3.89295   3.64070   3.46915
33        8.99910  10.00980   7.78115   8.74815   7.66505   7.75460   6.72890

Selecting multiple index labels using `.loc`. If all values of one level `MultiIndex` should be selected (here all subjects) you have to specify in the index tuple `slice(None)` (`:` does not work inside a tuple).

In [47]:
df_multi_index.loc[pd.IndexSlice[:, 'Control'], :]

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

In [48]:
df_multi_index.loc[(slice(None), ['Control']), :]

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

#### Sort multiple index levels

In [49]:
df_multi_index

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
10,Intervention,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415
11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965
30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

In [50]:
df_multi_index.reorder_levels(['condition', 'subject'])

                             0         1         2         3         4  \
condition    subject
Intervention 1         6.98890   7.03320   5.77670   5.25790   5.00795
             2         5.10235   5.61940   5.02540   4.89695   5.45370
Control      3         5.39850  13.27400  10.10115  14.23000  13.98650
Intervention 4         3.13210   2.72265   2.32200   2.04720   1.91595
             5         8.38690   8.13245   6.64140   5.40945   4.99895
Control      6         4.61920   6.20725   8.42920  12.12950  13.44050
Intervention 7         2.47655   3.38000   3.72735   6.03140   6.76300
Control      8         2.86070   2.49575   3.09960   5.50625   4.83960
             9         9.14675   6.43065   4.48210   4.91710   5.02670
Intervention 10        8.28345   5.87360   5.38795   6.69410   7.78285
Control      11        4.14360   5.92450   6.58610   7.15865   8.11585
Intervention 15        4.60515   4.12950   3.04090   1.58855   1.77905
             16        2.41280   2.34985   1.75125   2.54815   2.23585
Control      17        5.12210   5.26715   3.43025   2.73700   2.64575
Intervention 18        2.89285   2.33740   2.68280   2.83165   2.08710
Control      19        2.04045   1.93235   2.58190   2.54990   2.00480
Intervention 20        8.74025   8.86825   5.94170   4.93010   3.83805
Control      21        2.23280   2.16485   4.49550   6.04995   4.92305
             22       21.04050  14.25150   8.06595   7.56705   6.73840
             24        3.79145   4.52945  14.55050  16.88850  18.85500
Intervention 25        2.34255   2.90905   3.48550   5.13230   4.83930
             26       10.12510  11.76100   8.01475   7.07895   6.85135
             27        9.70730  10.35130  10.64900  12.04000  14.08050
             28        5.81720   5.06415   3.90835   5.47840   5.49560
Control      30        7.22090   7.28250   5.25300  12.84000  12.54750
             31        1.78120   1.51445   2.08200   2.79640   2.64540
             32        2.04655   2.74355   2.59805   3.14990   3.89295
             33        8.99910  10.00980   7.78115   8.74815   7.66505

                             5         6
condition    subject
Intervention 1         4.50045   4.06615
             2         5.07690   4.10855
Control      3        12.03900  11.00850
Intervention 4         2.00425   1.82235
             5         4.93540   4.94870
Control      6        15.65350  12.90800
Intervention 7         5.45675   4.77450
Control      8         3.92155   3.27280
             9         3.82645   3.96490
Intervention 10        8.00250   7.73415
Control      11        6.62015   6.25635
Intervention 15        1.82325   1.59545
             16        2.08005   1.93290
Control      17        1.98210   1.75805
Intervention 18        2.02960   2.28905
Control      19        2.03815   1.68480
Intervention 20        3.16055   2.96010
Control      21        4.09130   3.27160
             22        6.75810   6.00565
             24       15.49850  12.54850
Intervention 25        5.05150   4.34330
             26        6.41250   5.66710
             27       13.91350  13.14950
             28        5.13525   5.77965
Control      30       11.31650   8.07555
             31        2.15795   1.97095
             32        3.64070   3.46915
             33        7.75460   6.72890

#### Sort index

In [51]:
df_multi_index = df_multi_index.reorder_levels(['condition', 'subject']).sort_index()
df_multi_index

                             0         1         2         3         4  \
condition    subject
Control      3         5.39850  13.27400  10.10115  14.23000  13.98650
             6         4.61920   6.20725   8.42920  12.12950  13.44050
             8         2.86070   2.49575   3.09960   5.50625   4.83960
             9         9.14675   6.43065   4.48210   4.91710   5.02670
             11        4.14360   5.92450   6.58610   7.15865   8.11585
             17        5.12210   5.26715   3.43025   2.73700   2.64575
             19        2.04045   1.93235   2.58190   2.54990   2.00480
             21        2.23280   2.16485   4.49550   6.04995   4.92305
             22       21.04050  14.25150   8.06595   7.56705   6.73840
             24        3.79145   4.52945  14.55050  16.88850  18.85500
             30        7.22090   7.28250   5.25300  12.84000  12.54750
             31        1.78120   1.51445   2.08200   2.79640   2.64540
             32        2.04655   2.74355   2.59805   3.14990   3.89295
             33        8.99910  10.00980   7.78115   8.74815   7.66505
Intervention 1         6.98890   7.03320   5.77670   5.25790   5.00795
             2         5.10235   5.61940   5.02540   4.89695   5.45370
             4         3.13210   2.72265   2.32200   2.04720   1.91595
             5         8.38690   8.13245   6.64140   5.40945   4.99895
             7         2.47655   3.38000   3.72735   6.03140   6.76300
             10        8.28345   5.87360   5.38795   6.69410   7.78285
             15        4.60515   4.12950   3.04090   1.58855   1.77905
             16        2.41280   2.34985   1.75125   2.54815   2.23585
             18        2.89285   2.33740   2.68280   2.83165   2.08710
             20        8.74025   8.86825   5.94170   4.93010   3.83805
             25        2.34255   2.90905   3.48550   5.13230   4.83930
             26       10.12510  11.76100   8.01475   7.07895   6.85135
             27        9.70730  10.35130  10.64900  12.04000  14.08050
             28        5.81720   5.06415   3.90835   5.47840   5.49560

                             5         6
condition    subject
Control      3        12.03900  11.00850
             6        15.65350  12.90800
             8         3.92155   3.27280
             9         3.82645   3.96490
             11        6.62015   6.25635
             17        1.98210   1.75805
             19        2.03815   1.68480
             21        4.09130   3.27160
             22        6.75810   6.00565
             24       15.49850  12.54850
             30       11.31650   8.07555
             31        2.15795   1.97095
             32        3.64070   3.46915
             33        7.75460   6.72890
Intervention 1         4.50045   4.06615
             2         5.07690   4.10855
             4         2.00425   1.82235
             5         4.93540   4.94870
             7         5.45675   4.77450
             10        8.00250   7.73415
             15        1.82325   1.59545
             16        2.08005   1.93290
             18        2.02960   2.28905
             20        3.16055   2.96010
             25        5.05150   4.34330
             26        6.41250   5.66710
             27       13.91350  13.14950
             28        5.13525   5.77965

In [52]:
df_multi_index.loc['Intervention']

                0         1         2         3         4         5         6
subject
1         6.98890   7.03320   5.77670   5.25790   5.00795   4.50045   4.06615
2         5.10235   5.61940   5.02540   4.89695   5.45370   5.07690   4.10855
4         3.13210   2.72265   2.32200   2.04720   1.91595   2.00425   1.82235
5         8.38690   8.13245   6.64140   5.40945   4.99895   4.93540   4.94870
7         2.47655   3.38000   3.72735   6.03140   6.76300   5.45675   4.77450
10        8.28345   5.87360   5.38795   6.69410   7.78285   8.00250   7.73415
15        4.60515   4.12950   3.04090   1.58855   1.77905   1.82325   1.59545
16        2.41280   2.34985   1.75125   2.54815   2.23585   2.08005   1.93290
18        2.89285   2.33740   2.68280   2.83165   2.08710   2.02960   2.28905
20        8.74025   8.86825   5.94170   4.93010   3.83805   3.16055   2.96010
25        2.34255   2.90905   3.48550   5.13230   4.83930   5.05150   4.34330
26       10.12510  11.76100   8.01475   7.07895   6.85135   6.41250   5.66710
27        9.70730  10.35130  10.64900  12.04000  14.08050  13.91350  13.14950
28        5.81720   5.06415   3.90835   5.47840   5.49560   5.13525   5.77965

#### Reset index

Index levels are converted to regular columns

In [53]:
df_multi_index.reset_index()

,condition,subject,0,1,2,3,4,5,6
0,Control,3,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
1,Control,6,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
2,Control,8,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
3,Control,9,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
4,Control,11,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
5,Control,17,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
6,Control,19,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
7,Control,21,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
8,Control,22,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
9,Control,24,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
10,Control,30,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
11,Control,31,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
12,Control,32,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
13,Control,33,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890
14,Intervention,1,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
15,Intervention,2,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
16,Intervention,4,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
17,Intervention,5,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
18,Intervention,7,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
19,Intervention,10,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415
20,Intervention,15,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
21,Intervention,16,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
22,Intervention,18,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
23,Intervention,20,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
24,Intervention,25,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
25,Intervention,26,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
26,Intervention,27,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
27,Intervention,28,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965

### <b>Arithmetic operations and reductions</b>

In [54]:
df = pd.read_csv('data/cortisol_sample.csv')
df = df.set_index(['subject', 'condition'])
df.head()

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870

#### Arithmetic operations

Operations on DataFrame columns, e.g. subtract the first sample from all other columns (`df.sub()` **important:** you have to specify the `axis`!)

In [55]:
df.sub(df['0'], axis=0)

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
1,Intervention,0.0,0.04430,-1.21220,-1.73100,-1.98095,-2.48845,-2.92275
2,Intervention,0.0,0.51705,-0.07695,-0.20540,0.35135,-0.02545,-0.99380
3,Control,0.0,7.87550,4.70265,8.83150,8.58800,6.64050,5.61000
4,Intervention,0.0,-0.40945,-0.81010,-1.08490,-1.21615,-1.12785,-1.30975
5,Intervention,0.0,-0.25445,-1.74550,-2.97745,-3.38795,-3.45150,-3.43820
6,Control,0.0,1.58805,3.81000,7.51030,8.82130,11.03430,8.28880
7,Intervention,0.0,0.90345,1.25080,3.55485,4.28645,2.98020,2.29795
8,Control,0.0,-0.36495,0.23890,2.64555,1.97890,1.06085,0.41210
9,Control,0.0,-2.71610,-4.66465,-4.22965,-4.12005,-5.32030,-5.18185
10,Intervention,0.0,-2.40985,-2.89550,-1.58935,-0.50060,-0.28095,-0.54930
11,Control,0.0,1.78090,2.44250,3.01505,3.97225,2.47655,2.11275
15,Intervention,0.0,-0.47565,-1.56425,-3.01660,-2.82610,-2.78190,-3.00970
16,Intervention,0.0,-0.06295,-0.66155,0.13535,-0.17695,-0.33275,-0.47990
17,Control,0.0,0.14505,-1.69185,-2.38510,-2.47635,-3.14000,-3.36405
18,Intervention,0.0,-0.55545,-0.21005,-0.06120,-0.80575,-0.86325,-0.60380
19,Control,0.0,-0.10810,0.54145,0.50945,-0.03565,-0.00230,-0.35565
20,Intervention,0.0,0.12800,-2.79855,-3.81015,-4.90220,-5.57970,-5.78015
21,Control,0.0,-0.06795,2.26270,3.81715,2.69025,1.85850,1.03880
22,Control,0.0,-6.78900,-12.97455,-13.47345,-14.30210,-14.28240,-15.03485
24,Control,0.0,0.73800,10.75905,13.09705,15.06355,11.70705,8.75705
25,Intervention,0.0,0.56650,1.14295,2.78975,2.49675,2.70895,2.00075
26,Intervention,0.0,1.63590,-2.11035,-3.04615,-3.27375,-3.71260,-4.45800
27,Intervention,0.0,0.64400,0.94170,2.33270,4.37320,4.20620,3.44220
28,Intervention,0.0,-0.75305,-1.90885,-0.33880,-0.32160,-0.68195,-0.03755
30,Control,0.0,0.06160,-1.96790,5.61910,5.32660,4.09560,0.85465
31,Control,0.0,-0.26675,0.30080,1.01520,0.86420,0.37675,0.18975
32,Control,0.0,0.69700,0.55150,1.10335,1.84640,1.59415,1.42260
33,Control,0.0,1.01070,-1.21795,-0.25095,-1.33405,-1.24450,-2.27020

### <b>Add rows/columns</b>

#### Add columns

In [56]:
import numpy as np
age = np.random.uniform(low=20, high=40, size=len(df)).astype(int)
age

array([33, 35, 35, 35, 20, 26, 23, 39, 32, 20, 31, 29, 29, 23, 33, 37, 39,
       34, 35, 25, 21, 33, 36, 38, 22, 37, 27, 26])

In [57]:
df

,,0,1,2,3,4,5,6
subject,condition,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870
6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800
7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450
8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280
9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490
10,Intervention,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415
11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635
15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545
16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290
17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805
18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905
19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480
20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010
21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160
22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565
24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850
25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330
26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710
27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950
28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965
30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555
31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095
32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915
33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890

In [58]:
df['age'] = age
df.head()

,,0,1,2,3,4,5,6,age
subject,condition,,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615,33
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855,35
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850,35
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235,35
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870,20

#### Add rows

In [59]:
row = pd.Series([1, 2, 3, 4, 5, 6, 7, 35], name=(34, 'Control'), index=df.columns)
row

0       1
1       2
2       3
3       4
4       5
5       6
6       7
age    35
Name: (34, Control), dtype: int64

In [60]:
df.append(row)

/var/folders/3_/6bdchgy93zggkgq8kw8gyssr0000gn/T/ipykernel_87640/3272504666.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(row)

,,0,1,2,3,4,5,6,age
subject,condition,,,,,,,,
1,Intervention,6.98890,7.03320,5.77670,5.25790,5.00795,4.50045,4.06615,33
2,Intervention,5.10235,5.61940,5.02540,4.89695,5.45370,5.07690,4.10855,35
3,Control,5.39850,13.27400,10.10115,14.23000,13.98650,12.03900,11.00850,35
4,Intervention,3.13210,2.72265,2.32200,2.04720,1.91595,2.00425,1.82235,35
5,Intervention,8.38690,8.13245,6.64140,5.40945,4.99895,4.93540,4.94870,20
6,Control,4.61920,6.20725,8.42920,12.12950,13.44050,15.65350,12.90800,26
7,Intervention,2.47655,3.38000,3.72735,6.03140,6.76300,5.45675,4.77450,23
8,Control,2.86070,2.49575,3.09960,5.50625,4.83960,3.92155,3.27280,39
9,Control,9.14675,6.43065,4.48210,4.91710,5.02670,3.82645,3.96490,32
10,Intervention,8.28345,5.87360,5.38795,6.69410,7.78285,8.00250,7.73415,20
11,Control,4.14360,5.92450,6.58610,7.15865,8.11585,6.62015,6.25635,31
15,Intervention,4.60515,4.12950,3.04090,1.58855,1.77905,1.82325,1.59545,29
16,Intervention,2.41280,2.34985,1.75125,2.54815,2.23585,2.08005,1.93290,29
17,Control,5.12210,5.26715,3.43025,2.73700,2.64575,1.98210,1.75805,23
18,Intervention,2.89285,2.33740,2.68280,2.83165,2.08710,2.02960,2.28905,33
19,Control,2.04045,1.93235,2.58190,2.54990,2.00480,2.03815,1.68480,37
20,Intervention,8.74025,8.86825,5.94170,4.93010,3.83805,3.16055,2.96010,39
21,Control,2.23280,2.16485,4.49550,6.04995,4.92305,4.09130,3.27160,34
22,Control,21.04050,14.25150,8.06595,7.56705,6.73840,6.75810,6.00565,35
24,Control,3.79145,4.52945,14.55050,16.88850,18.85500,15.49850,12.54850,25
25,Intervention,2.34255,2.90905,3.48550,5.13230,4.83930,5.05150,4.34330,21
26,Intervention,10.12510,11.76100,8.01475,7.07895,6.85135,6.41250,5.66710,33
27,Intervention,9.70730,10.35130,10.64900,12.04000,14.08050,13.91350,13.14950,36
28,Intervention,5.81720,5.06415,3.90835,5.47840,5.49560,5.13525,5.77965,38
30,Control,7.22090,7.28250,5.25300,12.84000,12.54750,11.31650,8.07555,22
31,Control,1.78120,1.51445,2.08200,2.79640,2.64540,2.15795,1.97095,37
32,Control,2.04655,2.74355,2.59805,3.14990,3.89295,3.64070,3.46915,27
33,Control,8.99910,10.00980,7.78115,8.74815,7.66505,7.75460,6.72890,26
34,Control,1.00000,2.00000,3.00000,4.00000,5.00000,6.00000,7.00000,35

### <b>Reductions</b>

In [61]:
print('The average age is {:.2f}'.format(df['age'].mean()))

The average age is 30.46

In [62]:
df.groupby('condition')['age'].mean()
# more on groupby later...

condition
Control         30.642857
Intervention    30.285714
Name: age, dtype: float64

In [63]:
df.describe()

,0,1,2,3,4,5,6,age
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,5.766330,5.877127,5.424696,6.401195,6.444866,5.960036,5.289113,30.464286
std,4.032615,3.548024,3.029247,3.940771,4.380911,4.139147,3.485831,6.125128
min,1.781200,1.514450,1.751250,1.588550,1.779050,1.823250,1.595450,20.000000
25%,2.764663,2.738325,3.084925,3.070337,3.539975,2.909900,2.792338,25.750000
50%,4.860775,5.443275,4.760450,5.443925,5.017325,4.993450,4.225925,32.500000
75%,8.309313,7.494988,6.926337,7.260750,7.694500,7.007225,6.374487,35.000000
max,21.040500,14.251500,14.550500,16.888500,18.855000,15.653500,13.149500,39.000000